doctype
html(lang='en')
    head
        meta(charset='utf8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
        meta(name='description', content='Exemplo')
        meta(name='author', content= 'Thiago Lagden')
        link(rel='stylesheet', type='text/css', href='switch.css')
        style.
            .label {
                margin-bottom: 5px
            }

            .mar-b-20 {
                margin-bottom: 20px
            }
    title Exemplo
    body
        h1 Exemplo
        form#frm(action='index.html', method='GET')
            .mar-b-20
                #labelSexo.label Qual é o sexo?
                .switchSlide
                    label(for='SexoM') Masculino
                    input#SexoM(type='radio', title='Masculino', name='sexo', value='M')
                    label(for='SexoF') Feminino
                    input#SexoF(type='radio', title='Feminino', name='sexo', value='F')

            button(type='submit') OK
            button(type='reset') Reset
            button#destroy(type='button') Destroy

        script(src='switch.pkg.js')
        script.
            var cacheSwitches = [];
            [].forEach.call(document.querySelectorAll('.switchSlide'), function(el, idx, arr) {
                var sr = SwitchSlide(el, false, el.previousElementSibling.id);

                //- sr.on('toggle', function(obj) {
                //-     for (var i = 0, len = obj.radios.length; i < len; i++) {
                //-         var r = obj.radios[i];
                //-         console.log('toggle', r.id, r.checked);
                //-     }
                //-     console.log(obj.value);
                //- });

                //- [].forEach.call(el.querySelectorAll('input[type=radio]'), function(radio) {
                //-     radio.addEventListener('change', function(event) {
                //-         var r = event.currentTarget;
                //-         var side = Boolean(parseInt(r.getAttribute('data-side'), 10))
                //-         sr.toggle(side)
                //-     }, false);
                //- });

                cacheSwitches.push(sr);
            });

            //- var frm = document.querySelector('#frm');
            //- frm.addEventListener('reset', function(event) {
            //-     for (var i = 0, len = cacheSwitches.length; i < len; i++) {
            //-         cacheSwitches[i].reset();
            //-     }
            //- });

            //- var btn = document.querySelector('#destroy');
            //- btn.addEventListener('click', function(event) {
            //-     for (var i = 0, len = cacheSwitches.length; i < len; i++) {
            //-         cacheSwitches[i].destroy();
            //-     }
            //- });
