.switchSlide

    $white: #FFFFFF
    $black: #000000

    display: inline-block
    font-size: 1.1em

    &.switchSlide--initialized
        > input[type="radio"],
        > label
            z-index: 1
            visibility: hidden
            border: 0
            clip: rect(0 0 0 0)
            height: 1px
            margin: -1px
            overflow: hidden
            padding: 0
            position: absolute
            width: 1px
            &.focusable
                &:active,
                &:focus
                    clip: auto
                    height: auto
                    margin: 0
                    overflow: visible
                    position: static
                    width: auto

    > .widgetSlide
        display: flex
        flex-flow: row nowrap
        justify-content: center
        align-items: center

        position: relative
        z-index: 2

        width: auto
        overflow: hidden

        font-family: Consolas, 'Liberation Mono', Courier, monospace
        font-size: 1em

        background-color: rgba(51, 51, 51, 0.5)
        box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 1px inset, rgba(255, 255, 255, 0.2) 0px 1px 0px
        border-radius: 5px

        user-select: none
        user-drag: none
        touch-select: none
        touch-callout: none

        &:before
            content: "\0020"
            position: absolute
            top: 0
            left: 50%
            width: 1px
            height: 100%
            overflow: hidden

            background-color: rgba($black, 0)

            /* autoprefixer: off */
            background-image: linear-gradient(top, rgba($white, 0) 0%, rgba($white, 0.3) 15%, rgba($white, 0.3) 85%, rgba($white, 0) 100%)
            /* autoprefixer: on */

            transition: opacity 0.2s

        &.is-active
            &:before
                opacity: 0

        &:focus
            outline: none
            > .widgetSlide__knob
                background: linear-gradient(top, rgb(252,234,187) 0%,rgb(252,205,77) 50%,rgb(248,181,0) 51%,rgb(251,223,147) 100%)

        > .widgetSlide__opt
            position: relative
            z-index: 2
            text-align: center
            box-sizing: content-box
            padding: 8px 5px
            pointer-events: none
            color: rgba($white, 0.7)
            transition: color 0.2s
            &.selected
                color: rgba($black, 0.7)

        > .widgetSlide__knob
            $margin: 2
            box-sizing: border-box
            position: absolute
            z-index: 1
            top: 0
            right: auto
            bottom: auto
            left: 0

            width: auto
            height: calc(100% - #{$margin * 2}px)

            background: $white

            margin: #{$margin}px

            border: 0
            border-radius: 5px
            opacity: 0

            transform: translate3d(0, 0, 0)
            transition: opacity 0.2s, transform 0.2s linear

            &.is-dragging
                transition: none

            &.is-active
                opacity: 1

.switchCustom

    $white: #FFFFFF
    $black: #000000

    display: inline-block
    font-size: 1.1em

    &.switchCustom--initialized
        font-family: Consolas, 'Liberation Mono', Courier, monospace
        width: auto
        position: relative
        overflow: hidden
        padding: 3px
        border-radius: 50em
        box-sizing: content-box
        background-color: rgba(51, 51, 51, 0.5)
        box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 1px inset, rgba(255, 255, 255, 0.2) 0px 1px 0px

        user-select: none
        user-drag: none
        touch-select: none
        touch-callout: none

        > input[type="radio"],
        > label
            z-index: 1
            visibility: hidden
            border: 0
            clip: rect(0 0 0 0)
            height: 1px
            margin: -1px
            overflow: hidden
            padding: 0
            position: absolute
            width: 1px
            &.focusable
                &:active,
                &:focus
                    clip: auto
                    height: auto
                    margin: 0
                    overflow: visible
                    position: static
                    width: auto

    > .widgetSlide
        display: flex
        flex-flow: row nowrap
        justify-content: center
        align-items: center

        position: relative
        z-index: 2

        transition: transform 0.2s linear
        transform: translate3d(0, 0, 0)
        &:focus
            outline: none
            > .widgetSlide__knob
                background: linear-gradient(top, rgb(252,234,187) 0%,rgb(252,205,77) 50%,rgb(248,181,0) 51%,rgb(251,223,147) 100%)

        &.is-dragging
            transition: none

        > .widgetSlide__opt
            box-sizing: border-box
            font-size: 0.85em
            text-align: center
            color: $white
            padding: 0 5px

        > .widgetSlide__knob
            $knobSize: 1.2em
            width: $knobSize
            height: $knobSize
            overflow: hidden
            border-radius: 50%
            background: linear-gradient(rgb(246, 248, 249) 0%, rgb(229, 235, 238) 50%, rgb(215, 222, 227) 51%, rgb(245, 247, 249) 100%)

.frm__err
    outline: none
    box-shadow: 0 0 10px red !important
